.product-img-cart {
  aspect-ratio: 1/1;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 10px solid var(--white);
  box-shadow: var(--shadow1);
  width: 100px;
}

.cart-item {
  display: grid;
  grid-template-columns: 100px auto 130px;
  align-items: center;
  gap: 40px;
  border-bottom: 1px solid var(--gray);
  padding: 20px 0;
}

.item-text-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-button-container {
  display: flex;
  flex-direction: column;
}

.cart-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total {
  margin: 40px 0 10px;
  font-size: 18px;
  font-weight: 600;
}
