/* Navbar Styles ------------------ */

.nav-link {
  position: relative;
}

.cart-preview {
  position: absolute;
  top: 150%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
}

.nav-link:hover .cart-preview {
  display: block;
}

.cart-preview-item {
  margin-bottom: 10px;
}

.cart-preview-item:last-child {
  margin-bottom: 0;
}

/* Banner styles -------------- */

.banner {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow2);
}

.banner a {
  margin: 60px;
  width: 200px;
}