@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --whitish: #f7f7f7;
  --blackish: #373737;
  --gray: #8a8a8a;
  --cream: #e8e1d1;
  --teal: #86b5b7;
  --mint: #c9dad0;
  --green: #b5b986;
  --blue: #accbe0;
  --pink: #e0b4b4;
  --yellow: #e6cd8c;
  --shadow1: 0 0 3px #8d8d8d3f;
}

body {
  background-color: var(--whitish);
  color: var(--blackish);
  font-family: Quicksand;
}

section {
  padding: 60px 10%;
}

/*  General Styles ------------------------ */

.vertical-line {
  width: 2px;
  height: 20px;
  background-color: var(--blackish);
  margin: 0 20px;
}

.spacer {
  height: 20px;
}

.bold {
  font-weight: bold;
}

h1 {
  font-family: 'Leckerli One';
  font-size: 36px;
  line-height: 1;
}

h2 {
  font-family: Salsa;
  font-size: 30px;;
}

.btn-1 {
  background-color: var(--blackish);
  color: var(--whitish);
  padding: 6px 20px;
  border-radius: 2px;
  box-shadow: var(--shadow1);
  transition: .2s;
}

.btn-1:hover {
  /* background-color: var(--teal); */
  opacity: 70%;
}

.btn-2 {
  color: var(--blackish);
  border: 1px solid var(--blackish);
  padding: 6px 20px;
  border-radius: 2px;
  box-shadow: var(--shadow1);
  transition: .2s;
}

.btn-2:hover {
  background-color: var(--blackish);
  color: var(--whitish);
}

.btn-del {
  height: 40px;
  width: 40px;
  color: var(--blackish);
  border: 1px solid var(--blackish);
  border-radius: 2px;
  box-shadow: var(--shadow1);
  transition: .2s;
}

.btn-del:hover {
  background-color: var(--blackish);
  color: var(--whitish);
}

.button-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
}

/* Header Styles -------------------------- */

nav {
  background-color: var(--teal);
  box-shadow: var(--shadow1);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5%;
}

nav a {
  font-weight: bold;
  margin: 10px 20px;
  border-bottom: 2px solid #00000000;
  display: flex;
  align-items: center;
}

.active-link {
  border-bottom: 2px solid var(--blackish);
}

.cart-num {
  width: 16px;
  height: 16px;
  background-color: var(--whitish);
  display: inline-flex;
  border-radius: 100%;
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
}

header {
  background-color: var(--white);
  box-shadow: var(--shadow1);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 130px;
  margin: auto;
  margin-top: 10px;
}

/* Footer styles ---------------------------- */

footer {
  background-image: url("/images/banner-2.png");
  background-size: cover;
  background-position: 50% 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sub-footer {
  background-color: var(--teal);
  text-align: center;
  padding: 40px 0;
  font-weight: bold;
}

/* Form styles ------------------ */

form {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: var(--shadow1);
  padding-top: 40px;
  max-width: 800px;
  margin: auto;
}

input, textarea {
  background-color: var(--whitish);
  margin: 6px 40px;
  padding: 6px 12px;
  outline: none;
  border: 2px solid var(--whitish);
}

input:focus, textArea:focus {
  border: 2px solid var(--blue);
}

form h2 {
  padding-bottom: 20px;
  text-align: center;
}

form button {
  align-self: center;
  margin: 30px 0;
}

.form-footer {
  background-color: var(--green);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.narrow {
  max-width: 400px;
}

form p {
  align-self: flex-end;
  padding-right: 40px;
  font-size: 14px;
  padding-bottom: 6px;
  line-height:.5
}

form label {
  margin: 8px 40px -6px;
  color: var(--gray);
  /* background-color: var(--whitish); */
  align-self: flex-start;
  padding: 2px 0;
}

textarea {
  height: 200px;
  resize: none;
}