@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --whitish: #f7f7f7;
  --blackish: #373737;
  --gray: #8a8a8a;
  --cream: #e8e1d1;
  --teal: #86b5b7;
  --mint: #c9dad0;
  --green: #b5b986;
  --light-blue: #dae8ed;
  --blue: #accbe0;
  --pink: #e0b4b4;
  --yellow: #e6cd8c;
  --shadow1: 0 0 3px #8d8d8d3f;
  --shadow2: 0 0 16px #8d8d8d3f;
  --shadow3: 0 0 16px #8d8d8d3f;
  --shadow4: 0 0 40px #8d8d8d3f;
}

body {
  background-color: var(--whitish);
  color: var(--blackish);
  font-family: Quicksand;
  min-height: 520px;
}

section {
  padding: 60px 10%;
}

/*  General Styles ------------------------ */

.vertical-line {
  width: 1.5px;
  height: 20px;
  background-color: var(--blackish);
  margin: 0 20px;
}

.spacer {
  height: 20px;
}

.center {
  margin: auto;
}

.flex-row {
  display: flex;
  gap: 20px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.loading {
  color: var(--gray);
  background-color: var(--white);
  width: 200px;
  height: 100px;
  margin: 220px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  box-shadow: var(--shadow1);
}

.white-container {
  background-color: var(--white);
  box-shadow: var(--shadow1);
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

h1 {
  font-family: "Leckerli One";
  font-size: 36px;
  line-height: 1;
}

h2 {
  font-family: Salsa;
  font-size: 30px;
}

.like-btn-2 {
  border: 1px solid var(--blackish);
  border-radius: 2px;
  box-shadow: var(--shadow1);
  height: 38px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-1 {
  background-color: var(--blackish);
  color: var(--whitish);
  padding: 6px 20px;
  border-radius: 4px;
  box-shadow: var(--shadow1);
  transition: 0.2s;
}

.btn-1:hover {
  background-color: var(--teal);
}

.btn-2 {
  color: var(--blackish);
  border: 1px solid var(--blackish);
  padding: 5px 19px;
  border-radius: 2px;
  box-shadow: var(--shadow1);
  transition: 0.2s;
}

.btn-2:hover {
  background-color: var(--blackish);
  color: var(--whitish);
}

.btn-3 {
  padding: 6px 6px;
  margin: 8px 0;
  background-color: var(--blue);
  border-radius: 2px;
  box-shadow: var(--shadow1);
}

.btn-3:hover {
  background-color: var(--teal);
}

.btn-del {
  color: rgb(170, 38, 38);
  border: 1px solid rgb(170, 38, 38);
  padding: 5px 19px;
  border-radius: 2px;
  box-shadow: var(--shadow1);
  transition: 0.2s;
}

.btn-del:hover {
  background-color: rgb(170, 38, 38);
  color: var(--whitish);
}

.button-container {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
}

/* Footer styles ---------------------------- */

footer {
  background-image: url("/images/banner-2.png");
  background-size: cover;
  background-position: 50% 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sub-footer {
  background-color: var(--teal);
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
}

.sub-footer a {
  padding: 2px;
}

.sub-footer a:hover {
  border-bottom: 2px solid var(--blackish);
}

/* Form styles ------------------ */

form {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: var(--shadow1);
  padding: 40px;
  max-width: 800px;
  margin: auto;
  color: var(--blackish);
  font-size: 18px;
  font-family: Quicksand;
}

input,
textarea,
select {
  background-color: var(--whitish);
  margin: 6px 0;
  padding: 6px 12px;
  outline: none;
  border: 2px solid var(--whitish);
  color: var(--blackish);
}

input:focus,
textArea:focus {
  border: 2px solid var(--blue);
}

form h2 {
  padding-bottom: 20px;
  text-align: center;
}

form button {
  align-self: center;
  margin-top: 30px;
}

form .button-container {
  margin: 20px auto;
}

.form-footer {
  background-color: var(--green);
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  padding: 20px;
  box-shadow: var(--shadow1);
  font-family: Quicksand;
  color: var(--blackish);
}

.narrow {
  max-width: 400px;
}

form p {
  align-self: flex-end;
  font-size: 14px;
  padding-bottom: 6px;
  line-height: 0.5;
}

form label {
  margin: 8px 0px -6px;
  color: var(--gray);
  align-self: flex-start;
  padding: 2px 0;
}

textarea {
  height: 200px;
  resize: none;
}
