/* Project card styles ------------------ */

.product-card {
  background-color: var(--white);
  box-shadow: var(--shadow1);
  border-radius: 6px;
}

.product-card p {
  padding: 6px 12px;
}

.card-price {
  border-top: 2px solid var(--whitish);
  font-size: 18px;
  font-weight: 500;
  text-align: right;
}

.card-image {
  aspect-ratio: 1/1;
}

.card-image img {
  border-radius: 6px 6px 0 0;
}

.crop-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Product page styles -------------- */

.product-section {
  display: grid;
  grid-template-columns: 400px auto;
  gap: 40px;
  justify-content: center;
}

.product-img {
  aspect-ratio: 1/1;
  border: 10px solid var(--white);
  box-shadow: var(--shadow1);
  margin-right: 40px;
  width: 400px;
}

.price {
  color: var(--yellow);
  font-weight: bold;
}

.product-info p {
  margin: 12px 0;
}

.product-info {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

/* Review section styles -------------------------- */

.review-section h2 {
  text-align: center;
}

.review-grid {
  margin-top: 30px;
  column-count: 3;
  column-gap: 20px;
}

.review-card {
  background-color: var(--white);
  box-shadow: var(--shadow1);
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 40px;
}

.review-card p {
  margin-top: 30px;
}

.review-card img {
  width: 100px;
}

/* necessary for the card content to stay together */
.block {
  display: inline-block;
}