/* Category banner styles --------------------------- */

.category-banner {
  padding: 40px 0;
  background-image: url("/images/banner-1.png");
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.category-btn {
  background-color: var(--whitish);
  box-shadow: var(--shadow1);
  width: 140px;
  height: 120px;
  padding: 30px;
  text-align: center;
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}

.category-btn img {
  width: 60px;
  padding-bottom: 6px;
}

.category-btn:hover {
  background-color: var(--white);
}

.sub-banner {
  background-color: var(--mint);
  height: 45px;
  box-shadow: var(--shadow1);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Shop section styles ---------------------- */

.shop-section {
  text-align: center;
}

.category-link {
  margin: 0 10px;
}

.category-link-active {
  border-bottom: 1px solid var(--blackish);
  margin: 0 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 40px;
  min-height: 535px;
}