/* Category banner styles --------------------------- */

.category-banner {
  padding: 40px 0;
  background-image: url("/images/banner-1.png");
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.category-btn {
  background-color: var(--whitish);
  box-shadow: var(--shadow1);
  width: 140px;
  height: 120px;
  padding: 30px;
  text-align: center;
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  /* Position relative so p can position correct */
  position: relative;
}

.category-btn p {
  position: absolute;
  bottom: 30px;
}

.category-btn img {
  width: 60px;
  padding-bottom: 6px;
}

.category-btn:hover {
  background-color: var(--white);
}

.sub-banner {
  background-color: var(--mint);
  height: 45px;
  box-shadow: var(--shadow1);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Shop section styles ---------------------- */

.shop-section {
  /* text-align: center; */
  display: grid;
  grid-template-columns: 116px 1px auto;
  gap: 60px;
  align-items: top;
  margin-top: 40px;
}

.category-link {
  /* margin: 0 10px; */
}

.category-link-active {
  border-bottom: 1px solid var(--blackish);
  /* margin: 0 10px; */
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;
  min-height: 535px;
}

/* Shop sidebar --------------------------- */

.shop-sidebar {
  /* position: sticky;
  top: 0;
  height:400px; */
  /* padding-top: 20px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* align-items: center; */
  /* align-items: flex-end; */
  gap: 8px;
  text-align: left;

}

.shop-main {
  display: flex;
  flex-direction: column;
}

.vertical-line-2 {
  /* width: 4px; */
  background-color: var(--blackish)
}